@{
    ViewData["Title"] = "React App 1";
}

@section Styles {
    @await Html.RenderReactHead("sample-app-1", "wwwroot/sample-app-1/index.html")
}

<script>
    window.baseUrl = "/Apps/App1";
</script>

<div>
    @await Html.RenderReactBody("sample-app-1", "wwwroot/sample-app-1/index.html")
</div>